@font-face {
    font-family: "Norse Bold";
    font-weight: bold;
    src: url(fonts/Norse-Bold.otf);
}

:root {
    --std-vertical-margin: 48px;
    --std-horizontal-margin: 50px;

    font-family: sans-serif;
    background-color: #fff;
    color: #1a1a1a;
}

html, body {
    height: 100%;
}

input {
    &[type='text'],
    &[type='email'],
    &[type='tel'],
    &[type='password'] {
        appearance: none;
        flex: 1 1 auto;

        font-size: 1.2rem;

        min-width: 250px;
        min-height: 1.7em;
        max-height: 1.7em;
        padding: 2px 8px;

        border: 1px solid #e5e7eb;
        border-radius: 4px;
    }

    &::placeholder {
        opacity: 0.5;
    }
    
    &:focus {
        outline: 1px solid #5c5ce7;
        box-shadow: 0 4px 10px 0px #00000038;
    }

    &.error {
        border: 1px solid #ffa4a4;
        background-color: #ffe7e7;

        &:focus {
            border: inherit;
            background-color: inherit;
        }
    }

    &.success {
        border: 1px solid #a4ffa4;
        background-color: #e7ffe8;

        &:focus {
            border: inherit;
            background-color: inherit;
        }
    }
}

button {
    appearance: none;

    margin-left: var(--std-horizontal-margin);
    margin-bottom: 16px;
    padding: 16px 48px;

    background-color: #596d48;
    color: #fff;

    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0px #00000038;

    font-weight: bold;
    font-size: 1.2rem;

    &:focus,
    &:hover {
        background-color: #8ba376;
        outline: none;
        cursor: pointer;
    }
}

.flex-horizontal-container {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
    height: 100%;
}

.side-banner {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #204c20;
    background: no-repeat center/cover url(img/background.png);
    color: #fff;

    width: 700px;
    min-width: 350px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    position: relative;
    top: 20%;

    padding: 15px;
    margin-bottom: var(--std-vertical-margin);

    background-color: #00000088;
}

.logo {
    img& {
        display: inline-block;
        width: 90px;
        height: fit-content;
    }

    span& {
        font-size: 5.5rem;
        font-family: 'Norse Bold', system-ui, sans-serif;
        font-weight: bold;
    }
}

.author {
    text-align: center;
    margin-bottom: 16px;
    margin-top: var(--std-vertical-margin);

    & a {
        &:link,
        &:visited {
            color: inherit;
        }
    }
}

.flex-vertical-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .side-banner + & {
        min-width: 400px;
    }
}

.header {
    flex: 0 1 auto;

    max-width: 700px;

    margin: var(--std-vertical-margin)
            var(--std-horizontal-margin);

    & p {
        flex: 0 1 auto;
        font-size: 1.5rem;
        font-weight: bold;

        margin-top: 0;
    }
}

.highlight {
    padding: 40px var(--std-horizontal-margin); 
    margin-bottom: var(--std-vertical-margin);
    box-shadow: 0 4px 10px 0px #00000038;

    & h1 {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: var(--std-vertical-margin);

        & + div.info {
            position: relative;
            margin-top: calc(-1 * var(--std-vertical-margin));
            margin-bottom: var(--std-vertical-margin);
        }
    }

    & .flex-horizontal-container {
        gap: 24px 48px;

        & div {
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
        }
    }
}

.required::after {
    display: inline-block;
    content: '';

    height: 7px;
    width: 7px;

    border-radius: 50%;
    background-color: #c53e52;

    vertical-align: middle;
    margin-left: 0.5ch;
}

.info {
    word-break: break-word;
    font-size: 1rem;

    margin-top: 4px;

    max-width: 100%; 
    min-height: fit-content;

    &.error {
        color: #9f3c3c;
    }
}

.log-in-prompt {
    margin-left: var(--std-horizontal-margin);
    font-size: 1.2rem;

    & a,
    & a:visited {
        color: #596d48;
        font-weight: bold;
        text-decoration: none;
    }
}